<!-- sign in prompt -->
<div id="loginPrompt" class="loginContainer">
    <!-- slogan -->
    <p>Sign in to take advantage of the power of MyStadiumNavigator!</p>
</div>
<!-- navigation -->
<nav id="links">
    <!-- support -->
    <section>
        <input type="checkbox" id="settings" checked>
        <label for="settings">Support</label>
        <!-- collapsible -->
        <div>
            <!-- home -->
            <div class="navLink">
                <a href="./guest">
                    <img src="./images/icons8-home-50.png" alt="Home">
                    Home
                </a>
            </div>
            <!-- about us -->
            <div class="navLink">
                <a href="./guest-about">
                    <img src="./images/icons8-info-50.png" alt="About Us">
                    About Us
                </a>
            </div>
            <!-- help -->
            <div class="navLink">
                <a href="./guest-help">
                    <img src="./images/icons8-help-50.png" alt="Help">
                    Help
                </a>
            </div>
        </div>
    </section>
</nav>