<!-- navigation bar -->
<nav id="navbar">
    <!-- hamburger -->
    <img id="hamburger" class="nav" src="./images/icons8-hamburger-50.png" alt="Dropdown Menu">
    <!-- page name -->
    <h1>{{title}}</h1>
    <!-- search -->
    <img id="searchButton" class="nav" src="./images/icons8-search-50.png" alt="Search">
</nav>